.pagination {
    color: var(--dark-grey);
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.button {
    color: var(--dark-grey);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 137.687%;
}

.pageNumbers {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.singleNumber {
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
}

.active {
    color: var(--green-color);
}

@media screen and (max-width: 510px){
    .pagination {
        width: 100%;
    }

    .singleNumber, .button{
        font-size: 15px;
        font-weight: 700;
    }
}
