.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

.tbody {
    background-color: var(--white-color);
}

.tr {
    cursor: pointer;
    color: var(--white-color);
    display: flex;
    flex-direction: row;
    background-color: var(--dark-grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.687%;
}

.id {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-content: center;
    padding: 10px 8px;
    text-align: center;
    flex-basis: 10%;
    border: 1px solid var(--light-grey);
}

.title {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-content: center;
    padding: 10px 8px;
    flex-basis: 50%;
    border: 1px solid var(--light-grey);
}

.body {
    display: flex;
    justify-content: center;
    gap: 10%;
    align-content: center;
    padding: 10px 8px;
    flex-basis: 40%;
    border: 1px solid var(--light-grey);
}
